* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 150px;
  width: 100%;
}
header img {
  height: 150px;
  width: 100%;
}
nav {
  height: 50px;
  width: 100%;
}
.menu {
  height: 50px;
  width: 100%;
  display: flex;
}
.menu li {
  height: 50px;
  line-height: 50px;
  width: 100%;
  list-style: none;
  text-align: center;
  background-color: lightsalmon;
}
li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
  display: block;
}
.sub__menu li {
  display: none;
}
.menu li a:hover {
  background-color: red;
  color: yellow;
}
.menu li:hover .sub__menu li {
  display: block;
}
section {
  width: 100%;
  height: 500px;
  display: flex;
}
h2 {
  width: 100%;
  line-height: 50px;
}
left {
  height: 450px;
  width: 60%;
}
left > img {
  float: left;
  height: 400px;
}
list {
  clear: left;
}
list > li {
  height: 100px;
  background-color: orange;
  border-bottom: 1px solid black;
}
list img {
  height: 80px;
  width: 80px;
  float: left;
  margin: 10px;
}
h4 {
  line-height: 20px;
  margin-right: 10px;
}
list > p {
  float: right;
  margin-right: 10px;
}
mid {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
mid img {
  height: 200px;
  width: 90%;
}
right {
  width: 20%;
  background-color: lightblue;
}
right p {
  text-align: center;
  margin: 10px 0;
}
right img {
  height: 160px;
  width: 90%;
  margin: 0 10px;
}
button {
  margin: 5px 0 5px 100px;
}
footer {
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
}
ion-icon {
  margin: 15px 10px 0 70px;
}
.info {
  display: flex;
}
input {
  height: 30px;
  margin-top: 10px;
  margin-right: 30px;
  text-indent: 20px;
}
