* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    width: 100%;
    display: flex;
}
header>img{
    height: 70px;
    width: 70px;
}
mid{
    flex: 1;
    height: 70px;

}
h1{
    color: #01a54f;
    text-align: center;
}
h2{
    color:  #99ba13;
    text-align: center;
}
right{
    display: flex;
    flex-direction: column;
}
line1{
    height: 40px;
    width: 100px;
    margin-left: 100px;
}
line2{
    height: 30px;
    display: flex;
}
right>line2>input{
    height: 30px;
    border-radius: 30px;
    text-indent: 20px;
}
right>line2>button{
    height: 30px;
    width: 30px;
    margin-top: auto;
}
right>line2>button>img{
    height: 30px;
    width: 30px;
    margin: -6px 0px 0px -5px;
}
body {
    width: 100%;
}
.navbar{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}
.navbar>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    list-style: none;
    background-color: #fbfef5;
}
.navbar>li>a{
    text-decoration: none;
    color: black; 
}
.navbar>li:hover{
    background-color: #00a551;
}
section {
    width: 100%;
 }
section img {
    height:300px;
    width: 100%;
}
section .content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
section .content .box {
    width: 400px;
    height: 370px;
}
.box button a{
    text-decoration: none;
    color: #00a551;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 10px 0px;
    text-indent: 20px;
}
.box>a>img{
    height: 200px;
    width: 400px;
}
p {
    color: grey;
}
button {
    outline: none;
    border: 1px solid lightblue;
    margin-top: 10px;
    padding: 5px;
    color: #00a551;
    float: right;
}
footer {
    background-color: #00a551;
    height: 40px;
}
footer>p{
    height: 40px;
    line-height: 40px;
    color: whitesmoke;
    text-align: center;
}